.Special { color: #6a5acd; }
.Statement { color: #a52a2a; font-weight: bold; }
.Identifier { color: #008b8b; }
.Constant { color: #ff00ff; }
.Comment { color: #0000ff; font-style: italic; }
.lnr { color: #a52a2a; }
.Title { color: #ff00ff; font-weight: bold; }
.PreProc { color: #a020f0; }
.Type { color: #2e8b57; font-weight: bold; }
